// *Page styles

* {
  margin : 0;
  padding: 0;
}

body {
  background-color: #D4F1F4;

}

// *Header style

header {
  position        : absolute;
  left            : 0;
  right           : 0;
  background-color: #05445E;
  height          : 30px;

  button {
    position : relative;
    border   : none;
    font-size: 14px;
    padding  : 5px;
    display  : block;
    z-index  : 1;
    float    : right;
  }

  button:hover {
    background-color: #189AB4;
  }

  .ham_btn {
    float: none;
  }
}

// *Friends list style

.friends {
  z-index         : 1;
  position        : fixed;
  // min-width   : 290px;
  width           : 300px;
  height          : 100%;
  top             : 30px;
  left            : 0;
  border-right    : solid;
  border-color    : grey;
  overflow-y      : auto;
  background-color: #D4F1F4;

  @media screen and (max-width:960px) {
    // min-width: 200px;
    width: 225px;

  }

  transition: left 0.3s ease-out;
}

.is_online {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  // position: relative;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}

.hide {
  left    : -225px;
  // right: 100%;
}

.show {
  left: 0;
}

.find_users {
  text-decoration : none;
  display         : block;
  text-align      : center;
  padding         : 10px 5px;
  width           : 100%;
  background-color: #189AB4;
  color           : #000;
}

.find_users:hover {
  background-color: #75E6DA;
}

.users_list {
  width     : 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.user_item {
  display        : block;
  padding        : 10px 0;
  width          : 100%;
  text-align     : center;
  list-style     : none;
  text-decoration: none;
  color          : #000;
  border-bottom  : 2px solid #050A30;
  display        : block;
}

.user_item:hover {
  background-color: lightblue;
}

.no_users {
  display  : inline-block;
  position : relative;
  font-size: 25px;
  left     : 50%;
  transform: translate(-50%, 0);
}

//*Messages style

.messages {
  box-sizing   : border-box;
  position     : absolute;
  padding-top  : 30px;
  padding-left : 310px;
  padding-right: 10px;
  width        : 100%;
  height       : 100%;

  @media screen and (max-width:960px) {
    padding-left: 235px;
  }

  @media screen and (max-width: 760px) {
    padding-left: 10px;
  }

  ul {
    border    : black solid 1px;
    height    : 90%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.message-block {
  box-sizing      : border-box;
  width           : 100%;
  min-height      : 16px;
  padding         : 4px 10px;
  list-style      : none;
  position        : relative;
  background-color: #fff;
}

.my {
  background-color: #B1D4E0;
  width           : 100%;
  text-align      : right;
}

.send_message {
  padding : 5px 7px;
  height  : 35px;
  position: relative;
  bottom  : 0;

  input {
    width        : 85%;
    border       : 2px solid #050A30;
    border-radius: 8px;
    padding      : 5px 3px;
  }

  button {
    width        : 10%;
    float        : right;
    padding      : 5px 3px;
    border       : 2px solid #050A30;
    border-radius: 8px;

  }
}

.message_filler {
  display  : inline-block;
  position : relative;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

// *New users search styles

.modal-background {
  z-index         : 2;
  position        : absolute;
  background-color: rgba(20, 20, 20, 0.3);
  top             : 0;
  right           : 0;
  left            : 0;
  bottom          : 0;
}

.modal-content {
  position        : absolute;
  top             : 20%;
  left            : 50%;
  transform       : translate(-50%, 0%);
  border-radius   : 30px;
  min-height      : 150px;
  width           : 20%;
  height          : auto;
  padding         : 20px 30px;
  background-color: #75E6DA;
  z-index         : 3;

  @media screen and (max-width:960px) {
    width: 50%;
  }

  @media screen and (max-width:480px) {
    box-sizing: border-box;
    width     : 90%;
  }

  input {
    display      : block;
    height       : 31px;
    width        : 80%;
    border       : none;
    border-radius: 20px;
    margin       : 10px auto;
    padding      : 10px 10px;
    font-size    : 16px;
  }
}

.friends_list {
  position  : relative;
  min-height: 60px;
  width     : 70%;
  margin    : 10px auto;
  padding   : 0px 40px;
  font-size : 18px;
}

.friends_item {
  padding      : 5px;
  list-style   : none;
  border-bottom: solid 2px grey;
}

.friends_item:hover {
  background-color: #D4F1F4;
  cursor          : pointer;
}

.filler {
  display  : inline-block;
  position : relative;
  font-size: 16px;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, 50%);
}

.modal-close {
  top     : -20%;
  right   : -10%;
  position: absolute;
  height  : 20px;
  cursor  : pointer;

  @media screen and (max-width:480px) {
    right: 5%;
  }
}