@mixin tooltip($back, $cursor) {
  position        : absolute;
  display         : inline-block;
  left            : 94%;
  top             : 50%;
  transform       : translate(0, -50%);
  background-color: $back;
  border-radius   : 50%;
  width           : 18px;
  height          : 18px;
  line-height     : 110%;
  font-weight     : 900;
  text-align      : center;
  color           : white;
  cursor          : $cursor;
}

.tooltip {
  z-index: 1;
  @include tooltip(red, pointer);

  .tooltip__text {
    visibility      : hidden;
    background-color: red;
    width           : 250px;
    color           : white;
    text-align      : center;
    padding         : 5px 5px;
    border-radius   : 6px;
    position        : absolute;
    top             : -5px;
    left            : 120%;
    opacity         : 0;
    transition      : opacity 0.6s;

    @media screen and (max-width: 960px) {
      top : 130%;
      left: -125px;
    }

    @media screen and (max-width: 760px) {
      top: -5px;
      left: -270px;
    }
  }

  .tooltip__text::after {
    content     : "";
    position    : absolute;
    top         : 8px;
    right       : 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent red transparent transparent;

    @media screen and (max-width: 960px) {
      top         : -10px;
      left        : 50%;
      border-color: transparent transparent red transparent;
    }

    @media screen and (max-width: 760px) {
      top         : 8px;
      left        : 100%;
      border-color: transparent transparent transparent red;
    }
  }

}

.tooltip:hover .tooltip__text {
  opacity   : 1;
  visibility: visible;
}

.tooltip__green {
  @include tooltip(green, unset);

  img {
    display : block;
    position: relative;
    width   : 14px;
    top     : 2px;
    left    : 2px;
  }

}